.searched-videos {
  padding: 10px 0;
}

.searched-videos h2 {
  padding: 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eff3f4;
  font-size: 20px;
  color: #606060;
}

.error {
  padding: 30px 0;
  text-align: center;
  color: #cccccc;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}

.loader {
  height: 100px;
}