.sidebar {
  position: sticky;
  top: 90px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 240px;
  padding-top: 10px;
}

.card {
  padding: 16px;
  background-color: #eff3f4;
  border-radius: 6px;
}

.card h3 {
  margin-bottom: 16px;
  font-size: 14px;
  color: #1DA8AF;
}

.info h3 {
  display: flex;
  gap: 6px;
}

.info h3 svg {
  width: 16px;
  height: 16px;
  fill: #414141;
}

.info p {
  margin-bottom: 6px;
  font-size: 14px;
}

.last-view ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.last-view li {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.last-view li::before {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: backgroudColor .2s ease-out;
}

.last-view li:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.last-view li img {
  width: 100%;
  height: auto;
  object-fit: cover;
  
}

.last-view .keyword {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
  z-index: 1;
}