.trend-keywords {
  margin-left: -16px;
  margin-right: -16px;
}

.trend-keywords li {
  padding: 8px 16px;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 500;
  cursor: pointer;
}

.trend-keywords li:last-child {
  border-bottom: none;
}

.trend-keywords li:hover {
  background-color: #F7F9F9;
}

.searches {
  font-size: 14px;
  color: #536471;
}