.trend-keywords {
  margin-left: -16px;
  margin-right: -16px;
}

.trend-keywords li {
  padding: 8px 16px;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.trend-keywords li:last-child {
  border-bottom: none;
}

.trend-keywords li:hover {
  background-color: #f7f9f9;
}

.searches {
  font-size: 12px;
  color: #536471;
}

/* @media screen and (max-width: 768px) {
  .trend-keywords {
    display: none;
  }
} */
