.container {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}

.main {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  background-color: #1DA8AF;
}

.header h1 {
  flex-shrink: 0;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.border-bottom {
  border-bottom: 1px solid #EFF3F4;
}

.aside {
  width: 300px;
  background-color: aquamarine;
}
