.recent-keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.recent-keywords li {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 4px 8px;
  background-color: #e6e6e6;
  border-radius: 6px;
  cursor: pointer;
}

.recent-keywords li span {
  position: relative;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-color: transparent;
  border: none;
}

.recent-keywords li span::before,
.recent-keywords li span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #414141;
}

.recent-keywords li span::before {
  transform: rotate(45deg);
}

.recent-keywords li span::after {
  transform: rotate(-45deg);
}

.recent-keywords li span:hover::before,
.recent-keywords li span:hover::after {
  width: 2px;
  background-color: #000;
}